ALI_KEY=xxxx # https://ram.console.aliyun.com/users 创建一个用户，复制id和secret
ALI_SECRET=xxxxx
PANEL_SECRET=xxxx # 12345端口代理的密码
SUB_URL=https://xxxx # 机场的配置URL
TS_KEY=xxxx # https://login.tailscale.com/admin/settings/keys 创建一个Reusable的填写进去
